:root {
    --title-text-color: #212121;
    --primary-text-color: hsl(0, 0%, 46%);
    --accent-color: #2196F3;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #F5F4FA;
    --header-bg-color: #ffffff;
    --dark-bg-color: #2F303A;
    --white-text-color: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--title-text-color);
    background-color: var(--primary-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}



/*------------------- HEADER ---------------------*/



.body {}

.header {
    background-color: var(--primary-bg-color);
}

.nav {}

.header-logo {
    color: #000000;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.logo-blue {
    color: var(--accent-color);
}

.nav-list {}

.nav-item {}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.current {
    color: var(--accent-color);
}

.header-contacts-list {}

.header-contacts-item {}

.header-contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}


/*------------------- HERO ---------------------*/


.hero {
    background-color: var(--dark-bg-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.btn {
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    background-color: var(--accent-color);
}


/*------------------- BENEFITS ---------------------*/

.benefits {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {}

.benefits-list-item {}

.benefits-list-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.benefits-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}


/*------------------- WORK ---------------------*/

.work {}

.work-title {}

.section-title {
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.work-list {}

.work-item {}

.work-pic {}


/*------------------- TEAM ---------------------*/

.team {
    background-color: var(--secondary-bg-color);
}

.team-title {}

.team-list {}

.team-item {}

.team-pic {}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-occupation {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}



/*------------------- FOOTER ---------------------*/


.footer {
    background-color: var(--dark-bg-color);
}

.footer-logo {
    color: var(--white-text-color);
}

.address {}

.address-list {}

.list {}

.address-item {}

.address-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address-link.street {
    color: var(--white-text-color);
}

.address-link.street:hover,
.address-link.street:focus {
    color: var(--accent-color);
}

/* ------------------------------------------------- */
/*------------------- PORTFOLIO ---------------------*/
/* ------------------------------------------------- */

.portfolio {}

.filter-list {}

.filter-item {}

.filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
}

.portfolio-list {}

.portfolio-item {}

.portfolio-pic {}

.portfolio-pic-title {
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-pic-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}